:root {
    --background: #000000;
    --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@keyframes boppingAnimation {
    0%,
    100% {
        transform: translateY(0%);
        transform-origin: 50% 50%;
    }

    50% {
        transform: translateY(-15px);
    }
}

.download-button {
    background: var(--foreground);
    color: var(--background);
    border-radius: 3rem;
    width: max-content;
    height: max-content;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: left;
    border: 2px dotted rgb(96 139 168);
}

.video-bopping {
    animation: boppingAnimation 5s ease-in-out infinite normal none;
}

.circular-image {
    border-radius: 50%;
    object-fit: cover; /* Ensures image covers the circular area */
    aspect-ratio: 1 / 1; /* Maintains a square aspect ratio */
}
